<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stations</title>

    <link rel="stylesheet" href="foundation/foundation.min.css" />
    <link rel="stylesheet" href="stylesheets/stations.css" />

    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="leaflet/markercluster/MarkerCluster.css">
    <link rel="stylesheet" href="leaflet/markercluster/MarkerCluster.Default.css">
</head>
<body>
    <div class="row container">
        <div class="alert callout" data-closable style="display:none;" id="no-stations-found">
            <h5>No stations!</h5>
            <p>The filters you gave are too restrictives. There are no stations matching your request.</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="medium-4 column">
            <h2>Stations</h2>
            <form onsubmit="filter(filters); return false;" bind-obj="filters" onreset="filters={};">
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Station's title
                            <input type="text" placeholder="Metz Ville" bind-val="fields.intitule_gare">
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Station's name
                            <input type="text" placeholder="gare de Metz-Ville" bind-val="name">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Department
                            <input type="text" placeholder="Moselle" bind-val="fields.departement">
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Region
                            <input type="text" placeholder="Lorraine" bind-val="fields.region">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>City
                            <input type="text" placeholder="Metz" bind-val="fields.commune">
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Postal code
                            <input type="text" placeholder="57000" bind-val="fields.code_postal">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Station's type
                            <input type="text" placeholder="(a, b, c)" bind-val="fields.segment_drg">
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>Platform's number
                            <input type="text" placeholder="(1, 2, 4)" bind-val="fields.nombre_plateformes">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 medium-offset-3 columns">
                        <div class="expanded button-group">
                            <button type="reset" class="warning button">Clear</button>
                            <button type="submit" class="button">Filter</button>
                        </div>
                    </div>
                    <img src="images/ajax-loader.gif" alt="Loading..." id="loading" style="display:none;">
                </div>
            </form>
        </div>
        <div class="medium-8 column panel-map">
            <div id="map"></div>
        </div>
    </div>

    <script src="leaflet/leaflet.js"></script>
    <script src="leaflet/markercluster/leaflet.markercluster.js"></script>
    <script src="javascripts/stations_display.js"></script>
    <script src="javascripts/jquery-1.12.1.min.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script>
        var filters = {};

        var stations = display('map', 'no-stations-found', 'loading');

        function filter(args){
            stations.getData(args);
        }

        filter();

    </script>
    <script src="javascripts/dataFormBinding.js"></script>
</body>
</html>